@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Yellowtail&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #4cd7f0;
  --color-secondary: #aeb9df;

  --font-family-roboto: Roboto, sans-serif;
  --font-family-yellowtail: Yellowtail, cursive;
  --font-family-mono: Roboto Mono, monospace;
}

@layer components {
  .line {
    @apply h-0.5 w-1/2 bg-[#2f3957] mx-4 rounded-3xl
  }
  .side-line {
    @apply h-48 w-0.5 bg-[#2f3957] mt-4
  }
  .link-icon {
    @apply relative w-8 h-8 text-secondary bottom-0
    transition-all duration-500 hover:text-primary hover:bottom-2
  }
}

.tagcloud {
  font-size: 20px;
  font-weight: 650;
  margin-left: 30%;
}

.tagcloud--item:hover {
  color: #36454f;
}
