@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Yellowtail&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .line {
    @apply h-0.5 w-1/2 bg-[#2f3957] mx-4 rounded-3xl
  }
  .side-line {
    @apply h-48 w-0.5 bg-[#2f3957] mt-4
  }
  .link-icon {
    @apply relative w-8 h-8 text-secondary bottom-0
    transition-all duration-500 hover:text-primary hover:bottom-2
  }
}

.tagcloud {
  font-size: 20px;
  font-weight: 650;
  margin-left: 30%;
}

.tagcloud--item:hover {
  color: #36454f;
}

.small-line {
  height: 1px;
  width: 20%;
  background: var(--line-color);
  margin: 0em 2em;
}

.project-cards {
  display: flex;
  flex-direction: column;
}

.project-card {
  position: relative;
  height: 20em;
  width: auto;
  box-shadow: 0px 8px 24px #00032c4f;
  margin-top: 7em;
}

.project-card > a {
  text-decoration: none;
  color: currentColor;
}

.project-card > a:hover {
  color: currentColor;
}

.project-body {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset darkblue;
  padding: 1em;
  width: 100%;
  height: 100%;
}

.project-img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
  transform: scale(1);
  transition: 0.5s;
}

.project-opacity:hover +.project-img  {
  transform: scale(1.05);
}

.project-opacity:hover {
  transform: scale(1.05);
}

.project-opacity {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #001f54;
  opacity: 0.9;
  border-radius: 5px;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .project-body-right {
    text-align: right;
    width: 55%;
    float: right;
  }

  .project-body {
    width: 55%;
  }

  .project-opacity:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .project-img {
    width: 60%;
  }

  .project-img-left {
    width: 60%;
    right: 0px;
  }

  .project-opacity {
    width: 60%;
    transition: background-color 1s, width 0s;
    opacity: 0;
  }

  .project-opacity-left {
    width: 60%;
    right: 0px;
  }

  .project-description-right {
    align-self: flex-end;
  }

  .project-description {
    background-color: #001f54;
    padding: 30px;
    border-radius: 5px;
  }
}


.last-p {
  width: 60%;
  font-size: 1.2em;
}

.hello-button {
  border: solid var(--primary-color);
  display: inline-block;
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: 0.5s;
}

.hello-button:hover {
  color: var(--primary-color);
  background-color: #4ccaf02b;
}

.linkedin {
  width: 2em;
  height: 2em;
  stroke: var(--secondary-color);
  transition: 0.5s;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin: 2em 0em;
  gap: 1em;
}

.mail {
  stroke: var(--secondary-color);
}
